<!--Forgotten Password Page --> 
<% provide(:title, "Forgot password") %>

<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information --> 


          <h1>Forgotten password?</h1>
          
      
           
              <%= form_for(:password_reset, url: password_resets_path) do |f| %>
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
          
                <%= f.submit "Submit", class: "btn btn-primary" %>
              <% end %>
           
          


    <!--closing the design/layout containers --> 
    </div>
</div>