<div class="signinstyle">
    <div class="row">
        
        <h1>Uni2choose</h1>
        
        <p>Hi <%= @user.name %>,</p>
        
        <p>
        Welcome to Uni2choose! Click on the link below to activate your account:
        </p>
        
        <%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                            email: @user.email) %>
                                                            
    </div>
</div>