<!--Analysis Page --> 
<% provide(:title, 'User Analysis') %>

<!--containers for design/layout --> 
<div class = "signinstyle">
  <%= link_to 'Back', current_user %>
    
  <div class = "row">
    <!--Page information --> 
    
      <h1>User Analysis</h1>
 

            <p><b>User gender proportion.</b></p>
            <%= pie_chart @data.group("gender").count("gender"), {library: {backgroundColor:'transparent'}} %></br>
            
    <!--closing the design/layout containers --> 
    </div>
</div>