 <!--Header for Page -->
 <div class = "row">
        <h1>you are an Alpaca</h1>
        <%= image_tag "line.png" , :alt => "line"%> 
 </div>

 <div class = "row">
     
    <!--Image -->
    <div class="col-s-6 col-s-6";>
             <div class="quizimg">
                 <%= image_tag "alpa.png" , :alt => "Alpaca"%>    
            </div>
     </div>
     <!--Quote -->
     <div class="col-s-6 col-s-6";>
         <div class="quizimg">
             <br><br><br>
            <h2>Good order is the foundation of all things.
            <br><br>
            - Edmund Burke</h2>
        </div>
    </div>

 </div> 
 <div class = "row">
     <!--Result text and Suggestions -->
    <div class="quizwriting">
        <p>You are dignified and organised. You may appear flustered and on edge but that’s because you’re trying to bring structure to the chaos around you. You strive to be a model citizen and regard tradition and stability with the utmost respect. You are drawn to roles and positions where you can exercise your affinity for organisation and structure. You favour work environments with an rigid hierarchy, aiming to climb to the top, which makes working in established institutions favourable.
           These qualities make you best suited to jobs within well-established institutions with strict hierarchies. 
        <br><br>
        Such as: 
        <br><br>

        </p>
    </div>
 </div>
  
     