<!--Sloth Bear page title  --> 
<% provide(:title, ' Sloth Bear ') %>

<!--Header for Page -->
 <div class = "row">
        <h1>you are a Sloth Bear</h1>
        <%= image_tag "line.png" , :alt => "line"%> 
 </div>

 <div class = "row">
    <!--Image -->
    <div class="col-s-6 col-s-6";>
             <div class="quizimg">
                 <%= image_tag "bear.png" , :alt => "Sloth Bear"%>    
            </div>
     </div>
     <!--Quote -->
     <div class="col-s-6 col-s-6";>
         <div class="quizimg">
             <br><br><br>
            <h2>It is not enough to have a good mind; the main thing is to use it well.

            <br><br>
            - René Descartes</h2>
        </div>
    </div>

 </div> 
 <div class = "row">
     <!--Result text and Suggestions -->
    <div class="quizwriting">
        <p>You’re as laid back and chill as can be. You may seem to be an aimless dreamer but beneath the surface your desire to succeed burns bright. Eccentric and independent, you are always looking to test new theories and push boundaries. You are fascinated by patterns and finding links. All you want from work is to immerse yourself in an interesting project and view anything that interrupts that as an annoyance or burden. You favour workplaces with a less structured or rigid hierarchy which makes working freelance a viable option. 
        These qualities make you best suited to jobs where you can push the boundaries of the known and test theories. Where you can search for patterns, and explore ideas and principles.
        <br><br>
        The following groups of courses may be of interest to you: 
        <br><br>
<h5><a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Historical+and+Philosophical+Studies&q%5Bcname_cont%5D=&q%5Buname_cont%5D=&commit=Search" target="_parent">Historical and Philosophical Studies</a></h5>
<h5><a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Physical+Sciences&q%5Bcname_cont%5D=&q%5Buname_cont%5D=&commit=Search" target="_parent">Physical Sciences</a></h5>
<h5><a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Computer+Sciences&q%5Bcname_cont%5D=&q%5Buname_cont%5D=&commit=Search" target="_parent">Computer Science</a></h5>

        </p>
    </div>
 </div>
  
     