 <!--Tiger page title  --> 
<% provide(:title, ' Tiger') %>
 
 <!--Header for Page -->
 <div class = "row">
        <h1>you are a tiger</h1>
        <%= image_tag "line.png" , :alt => "line"%> 
 </div>

 <div class = "row">
     <!--Quote -->
     <div class="col-s-6 col-s-6";>
         <div class="quizimg">
             <br><br><br>
            <h2>Life is either a daring adventure or nothing at all.
            <br><br>
            - Helen Keller</h2>
        </div>
    </div>
    <!--Image -->
    <div class="col-s-6 col-s-6";>
             <div class="quizimg">
                 <%= image_tag "tiger.png" , :alt => "Tiger"%>    
            </div>
     </div>
 </div> 
 <div class = "row">
     <!--Result text and Suggestions -->
    <div class="quizwriting">
        <p>You are curious and restless. You may appear to be unprepared or lacking a plan but this is because you prefer to react and adapt to situations as they arise. You are bold and impatient, but trust yourself to make the right call. When working you prefer to live in the moment and do rather than plan for what may be possible in the future. You favour work environments without restriction and rules and are competitive, always wanting to push yourself physically.
          These qualities make you best suited to jobs in which your competitive side shines and your desire to do rather than plan is favourable.
        <br><br>
        Such as: 
        <br><br>

        </p>
    </div>
 </div>
  
     