<% provide(:title) %>
<div class="signinstyle">
<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h1>My saved searches</h1></br>
      <%= gravatar_for @user %>
      <p>Search 1</p>
    </section>
 </div>
</div>
