 <!--Medicine title  --> 
<% provide(:title, 'Medicine') %>  
  
<!--Page information --> 
<div class = "row">
  <h2> Based on your answers you may be interested in:</h2>
  <%= image_tag "line.png" , :alt => "logo"%>  
</div>

<!-- Recommendations -->
<div class = "row">
 
    
    <div class="resultsclass">
      <div class="colorbg"> 
          <h3>Course groupings by subject area:</h3>
      
      <h2> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Medicine+and+Dentistry&q%5Bcname_cont%5D=&q%5Buname_cont%5D=&commit=Search" target="_parent">Medicine and Dentistry</a> </h2>
      <h2> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Subjects+allied+to+Medicine&q%5Bcname_cont%5D=&q%5Buname_cont%5D=&commit=Search" target="_parent">Subjects allied to Medicine</a> </h2>
      <h2> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Biological+Sciences&q%5Bcname_cont%5D=&q%5Buname_cont%5D=&commit=Search" target="_parent">Biological Science</a></h2>
      <h2> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Veterinary+Sciences%2C+Agriculture+and+Related+Subjects&q%5Bcname_cont%5D=&q%5Buname_cont%5D=&commit=Search" target="_parent">Veterinary Sciences</a></h2>

        </div>
      </div>
      </div>
    <div class ="row">
      <br>
         <%= image_tag "line.png" , :alt => "logo"%>  
      <br>
    </div>
<div class="row">
    <div class="resultsclass">
      <div class="colorbg"> 
          <h3>More specific courses:</h3>
      <h2><a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=Psychology&q%5Buname_cont%5D=&commit=Search" target="_parent">Psychology</a></h2>
      <h2><a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=biomedical+science&q%5Buname_cont%5D=&commit=Search" target="_parent">Biomedical Science</a></h2>
      <h2><a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=nursing&q%5Buname_cont%5D=&commit=Search" target="_parent">Nursing</a></h2>
      <h2><a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=Veterinary+&q%5Buname_cont%5D=&commit=Search" target="_parent">Veterinary Medicine/Nursing</a></h2>
    </div>
  </div>

</div>