  <div class = "row">
    <!--Page information --> 

<h2> Based on your answers you may be interested in:</h2>
<%= image_tag "line.png" , :alt => "logo"%>  
</div>
<div class = "row">


<h4> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Medicine+and+Dentistry&q%5Bcname_cont%5D=&q%5Buname_cont%5D=&commit=Search" target="_parent">Medicine and Dentistry</a> </h4>
<h4> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Subjects+allied+to+Medicine&q%5Bcname_cont%5D=&q%5Buname_cont%5D=&commit=Search" target="_parent">Subjects allied to Medicine</a> </h4>
<h4> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Biological+Sciences&q%5Bcname_cont%5D=&q%5Buname_cont%5D=&commit=Search" target="_parent">Biological Science</a></h4>
<h4> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Veterinary+Sciences%2C+Agriculture+and+Related+Subjects&q%5Bcname_cont%5D=&q%5Buname_cont%5D=&commit=Search" target="_parent">Veterinary Sciences</a></h4>


</div>