  <div class = "row">
    <!--Page information --> 

<h2> You answers to the quiz were inconclusive, you may be interested in one the following areas:</h2>
<%= image_tag "line.png" , :alt => "logo"%>  
</div>
<div class = "row">


<h4> <a href="" target="_parent">Medicine, Dentistry, Biological and Veterinary Studies</a> </h4>
<h4> <a href="" target="_parent">Creative Arts and Design</a> </h4>
<h4> <a href="" target="_parent">Physical Sciences</a> </h4>
<h4> <a href="" target="_parent">Historical and Philosophical Studies or Social Studies</a> </h4>
<h4> <a href="" target="_parent">Law and Business</a> </h4>
<h4> <a href="" target="_parent">Linguistics, Classics and Related Subjects</a> </h4>
<h4> <a href="" target="_parent">Languages</a> </h4>


</div>