<!--Draw Page of Recommender --> 
<% provide(:title, 'Quiz') %>

<!--Page information --> 
<div class = "row">
	
		<!--Question placeholders for JavaScript --> 
		<div id="wrapper">
		<h3>Your results were inconclusive, please answer one last time:</h3>
				<div class="ques-wrap">
					<h2 id="ques">This is question</h2>
					<%= image_tag "line.png" , :alt => "logo"%>  
					
					<div class="row">
						<input class="rquiz_button" type="submit" id = "opt1" value="Option 1" onclick="optionClick('1')">
						<input class="rquiz_button" type="submit" id = "opt2" value="Option 2" onclick="optionClick('0')">
						<input class="rquiz_button" type="submit" id = "opt3" value="Option 3" onclick="optionClick('2')">
					</div>
					<div class="row">
						<input class="rquiz_button" type="submit" id = "opt4" value="Option 4" onclick="optionClick('3')">
						<input class="rquiz_button" type="submit" id = "opt5" value="Option 5" onclick="optionClick('4')">
						<input class="rquiz_button" type="submit" id = "opt6" value="Option 6" onclick="optionClick('5')">
					</div>
					<div class="row">					
						<input class="rquiz_button" type="submit" id = "opt7" value="Option 7" onclick="optionClick('6')">
						<input class="rquiz_button" type="submit" id = "opt8" value="Option 8" onclick="optionClick('7')">
					</div>

					<!-- Breaks in page for footer --> 
  				<br><br><br><br><br><br><br>

			
			</div>
		</div>
	</div>
	
	</div>
	
<!-- Pulling Java Script file in --> 
<%= javascript_include_tag 'draw.js'  %>
<script type='text/javascript'>
		window.onload = function(){
		  generate();
		};
	</script>
	
	
<!--refreshes the page as the javascript wasn't populating the boxes without hitting refresh or progressing to the second and subsequent questions -->
<script type='text/javascript'>
	(function()
	{
  	if( window.localStorage )
  	{
    if( !localStorage.getItem( 'firstLoad' ) )
    {
      localStorage[ 'firstLoad' ] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem( 'firstLoad' );
  }
})();

</script>
