<!--Functionality of recommender?? --> 
<% provide(:title, '') %>


<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information --> 

<%= form_tag(degree_new_path, :method => "get", id: "search-data") do %>
<p> Based on your answers you may be interested in:</p>

<li><ol> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=Art&q%5Buname_cont%5D=&commit=Search">Art</a> </ol></li>
<li><ol> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=Design&q%5Buname_cont%5D=&commit=Search">Design</a> </ol></li>
<li><ol> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=Animation&q%5Buname_cont%5D=&commit=Search">Animation</a> </ol></li>
<li><ol> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=media+design&q%5Buname_cont%5D=&commit=Search">Media Design</a> </ol></li>
<li><ol> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=Illustration&q%5Buname_cont%5D=&commit=Search">Illustration</a> </ol></li>

<% end %>
   
</div>
</div>