<!--Functionality of recommender?? --> 
<% provide(:title, '') %>


<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information --> 

<%= form_tag(degree_new_path, :method => "get", id: "search-data") do %>
<p> Based on your answers you may be interested in:</p>

<li><ol> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=History&q%5Buname_cont%5D=&commit=Search">History</a> </ol></li>
<li><ol> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=Film+and+Television&q%5Buname_cont%5D=&commit=Search">Film and Television</a> </ol></li>
<li><ol> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=Archaeology&q%5Buname_cont%5D=&commit=Search">Archaeology</a> </ol></li>
<li><ol> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=Philosophy&q%5Buname_cont%5D=&commit=Search">Philosophy</a> </ol></li>
<li><ol> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=Education&q%5Buname_cont%5D=&commit=Search">Education</a> </ol></li>
<li><ol> <a href="http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=Geography&q%5Buname_cont%5D=&commit=Search">Geography</a> </ol></li>


      <% end %>
   
</div>
</div>