<!--Functionality of recommender?? --> 
<% provide(:title, '') %>


<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information --> 

<p> Based on your answers you may be interested in:</p>

<li><ol> <a href="">Law</a> </ol></li>
<li><ol> <a href="">Business</a> </ol></li>
<li><ol> <a href="">Management</a> </ol></li>
<li><ol> <a href="">Accounting</a> </ol></li>
<li><ol> <a href="">Economics</a> </ol></li>

   
</div>
</div>