<!--Functionality of recommender?? --> 
<% provide(:title, '') %>


<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information --> 

<h2> Based on your answers you may be interested in:</h2>
<%= image_tag "line.png" , :alt => "logo"%>  
</div>
<div class = "row">
  
<h4> <a href="https://uni2choose.herokuapp.com/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=Medicine&q%5Buname_cont%5D=&commit=Search" target="_parent">becoming a doctor</a> </h4>
<h4> <a href="https://uni2choose.herokuapp.com/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=Nursing&q%5Buname_cont%5D=&commit=Search" target="_parent">becoming a nurse</a> </h4>
<h4> <a href="https://uni2choose.herokuapp.com/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=Dentistry&q%5Buname_cont%5D=&commit=Search" target="_parent">becoming a dentist</a> </h4>
<h4> <a href="https://uni2choose.herokuapp.com/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=Veterinary&q%5Buname_cont%5D=&commit=Search" target="_parent">becoming a vet</a> </h4>
<h4> <a href="https://uni2choose.herokuapp.com/adsearch?utf8=%E2%9C%93&uregion=Anywhere&discipline=Any&q%5Bcname_cont%5D=Psych&q%5Buname_cont%5D=&commit=Search" target="_parent">becoming a psychologist</a> </h4>
