<!--Functionality of recommender?? --> 
<% provide(:title, '') %>


<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information --> 

<%= form_tag(degree_new_path, :method => "get", id: "search-data") do %>
<p> Based on your answers you may be interested in:</p>

<li><ol> <a href="Medicine">becoming a doctor</a> </ol></li>
<li><ol> <a href="Nursing">becoming a nurse</a> </ol></li>
<li><ol> <a href="Dentistry">becoming a dentist</a> </ol></li>
<li><ol> <a href="Veterinary">becoming a vet</a> </ol></li>
<li><ol> <a href="Psychology">becoming a psychologist</a> </ol></li>


      <% end %>