<!--Functionality of recommender?? --> 
<% provide(:title, 'About') %>

<!--containers for design/layout --> 
<div class = "contenty">
  <div class = "row">
      <%= image_tag "http://i.imgur.com/EtrfySt.gif" , :alt => "jazzhands"%>
      </div>
      </div>