<!-- About page -->
<% provide(:title, "Preparing for University") %>
<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <%= link_to "Back", :back %>
    <!--Page information --> 
    <h1>Preparing for University</h1>
        
      <p>Most universities require students to have at the least National 5s 
      in English and Maths at a grade C or above. In 2014 Standard Grades were 
      replaced by National Qualifications. Generally speaking, new National 4 
      and 5 Qualifications have taken the place of Standard Grades amongst other 
      changes implemented by the Scottish Qualifications Authority.</p>
      <p>More Information about National Qualifications: <a class="btn btn-default" href="http://www.sqa.org.uk/sqa/58948.html" role="button" target="_blank">SQA website</a><br></p>
      
      <a class="btn btn-default" href="http://scqf.org.uk/wp-content/uploads/2014/04/scqf-timeline-low-res.pdf" role="button" target="_blank">Open the Scottish National Qualifications Table</a><br>
      
      <p>Courses leading to National 5 qualifications take only one year when Standard Grade
      courses lasted 2 years. Usually students begin preparations for qualifications at the 
      beginning of their 4th year. National 5 is an equivalent of a "good pass" in old O Graded 
      and a "credit pass" in a Standard Grade, and it is considered as more advanced than other 
      qualifications. An equivalent of a general in Standard Grade is the new National 4 and 
      there are no exams at the end of the course. It is based on countinuous assessments only. 
      It does not matter any more how long students take to achieve their goals. What matters 
      is how many qualifications they have when they leave school.</p>
      
      <p><u>Entry requirements</u> are typically expressed with an upper and lower level, for example
      AAAA-ABBB for Scottish Highers, or AAA-ABB for A Levels. The upper level shows the typical 
      entry requirement, for example AAAA for Scottish Highers, and the lower level shows the 
      minimum entry requirement, for example ABBB.</p>
      
      <ul>
      <li>Entry requirements for the MA are rarely subject-specific: universities are more 
      interested in the student's overall ability than in the precise content of their pre-university 
      studies.</li>
      <li>For BSc a good level of proven academic ability overall, and strength in Science 
      or Mathematics subjects are required. Some degrees require specific subjects. Please see the individual programme 
      for entry requirements of each degree.</li>
      </ul>
      <p>An applicant’s individual academic profile will be the most significant factor in universities’ decision making. Additionally, certain 
      features of the personal statement may help to strengthen an applicant’s case. 
      Applicants should note that <strong>failure to achieve the minimum entry requirements will result in a lack of admission offer.</strong> 
      However, if an applicant falls short at university entry requirements, Summer Schools might provide an alternative route for entry into higher education. 
      Please note that you must be applying through a degree programme at a specific university in order to be considered for their Summer School.</p>
      
    <!--closing the design/layout containers --> 
    </div>
</div>