<!-- Help page -->
<% provide(:title, "Disclaimer") %>
<!--containers for design/layout --> 
  <div class = "row">
  <br/>

<!--Page information --> 
<h2>Disclaimer</h2>
  
  <%= image_tag "line.png" , :alt => "logo"%>    

<p>All University and degree data used on this site were obtained from the UCAS website by data scrapping and remains the sole property of UCAS.</p>


<!--closing the design/layout containers --> 
</div>
