<!-- Help page -->
<% provide(:title, "Help") %>
<!--containers for design/layout --> 
  <div class = "row">
  <br/>

<!--Page information --> 
<h2>Help</h2>
  
  <%= image_tag "line.png" , :alt => "logo"%>    

<p>Below can be found some simple walkthroughs for the many functionalities of the website:</p>

<p><strong>To Register/Create an Account:</strong></p>
<ol>
  <li>Click on the "Register" item in the main menu bar</li>
  <li>Complete the registration form.Fields marked with (*) are required for registration</li>
  <li>Click on the "Sign-Up" button to submit the registration form. You will be routed to the home page after submition</li>
</ol>

<p>Note that a comfirmation email will be sent to your registered email address. You will need to click on the link provided in the email to complete the registration process and activate your user account.</p>

<p><strong>To log in:</strong></p>
<ol>
  <li>Click on the "Log in" item in the main menu bar</li>
  
<p>You have the options of logging in with your: </p>
  
  <ul>
    <li>Registered Email and Password or</li>
    <li>Either of your Facebook or Twitter accounts</li>
  </ul>
  
<p>If you choose to login with your registered email,</p>
  
  <li>Enter your registered details in the appropriate fields</li>
  <li>Click on the "Login" button to complete your authentication</li> 

<p>Otherwise,</p>
  <li>Click on any of the social media options to login</li>
</ol>

<p><strong>Logout:</strong></p>
<ol>
  <li>To logout, click on the "Logout" item in the main menu bar</li>
</ol>

<p><strong>Course Suggestion Quiz:</strong></p>
<p>The course suggestion quiz will provide you with a series of courses you may be interested in based on your answers.</p>

<ol>
  <li>Click "Course Suggestion Quiz" on the homepage</li>
  <li>Make a choice from the list of options available in the quiz that follows</li>
  <li>Some suggestions will be made at the end of the exercise, you can click on any of the suggestions to search for such a degree</li>
</ol>

<p><strong>Search:</strong></p>
<p>You can search for degrees using a couple of built in filters to help narrow down your search results. To search for a degree;</p>
<ol>
  <li>Click on the "Search" item in the main menu bar</li>
  <li>Enter the degree name in the "Degree Name Contains" field</li>
  <li>Select the "Region", "Degree Category" and/or fill in the "University Name" as filters to help narrow down your search result</li>
  <li>Click the "Search" button (This will display the search result)</li>
  <li>You can save any of the degrees to your profile by clicking on the "Save" button on each search result item.Note that you will have to be logged to save to your profile</li>
</ol>

<!--closing the design/layout containers --> 
</div>
