<% provide(:title, "Home") %>
<%= stylesheet_link_tag "custom.css.scss" %>

     
<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information --> 
       


                      
                      <p>Wo0o0o0o0o0</p>
                  
              
    <!--closing the design/layout containers --> 
    </div>
</div>