<% provide(:title, "Home") %>
<%= stylesheet_link_tag "custom.css.scss" %>

     
<div class="contenty">
  
  <div class="row">
        <aside class="col-4 col-s-4">
          <h2>Select a University:</h2>
      </aside>

    <div class="col-8 col-s-8"></div>
          
  </div>  
</div>


