<% provide(:title, "Summer school page") %>
<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information --> 
    <h1>Summer school page</h1>
        
        <p>Most universities require students to have at the least National 5s 
        in English and Maths at a grade C or above.In 2014 Standard Grades were 
        replaced by National Qualifications Generally speaking, new National 4 
        and 5 Qualifications have taken place of Standard Grades amongst other 
        changes in  implemented by the Scottish Qualifications Authority.</p>
        
        <a href="http://scqf.org.uk/wp-content/uploads/2014/04/scqf-timeline-low-res.pdf">Qualification comparison table</a> 
        <a href="http://www.sqa.org.uk/sqa/58948.html">Scottish Qualifications Authority</a>
        
        <p>Courses leading to National 5 qualifications take only one year when Standard Grade
        courses lasted 2 years. Usually students begin preparations for qualifications at the 
        beginning of fourth year.The National 5 is an equivalent of a good passs in old O Graded 
        and a credit pass in a Standard Grade and it is considered as more andvanced than other 
        qualifications. An equivalent of a general in Standard Grade is the new National 4 and 
        there is no exams at the endof the course. It is based on a countinous assessment only. 
        It does not matter any morehow long students take to achieve their qgoals. What matters 
        is how many qualifications they have when they leave school.</p>
        
        <p>Entry requirements are typically expressed with an upper and lower level, for example, 
        AAAA-ABBB for Scottish Highers, or AAA-ABB for A Levels. The upper level shows the typical 
        entry requirement, for example AAAA for Scottish Highers, and the lower level shows the 
        minimum entry requirement, for example ABBB.</p>
        
        <p>Entry requirements for the MA are rarely subject-specific: universities  are more 
        interested in your overall ability than in the precise content of your pre-university 
        studies. For BSc agood level of proven academic ability overall, and strength in Science 
        or Mathematics subjects are required. Usually, universities do not insist on specific subjects. 
        However, for some degrees a specific subject is required. Please see the individual programme 
        for entry requirements for each degree. An applicant’s individual academic profile will 
        normally be the most significant factor in universities’ decision making. Additionally, certain 
        features of the personal statement may help to strengthen an applicant’s case. Applicants should 
        note that failure to achieve the minimum entry requirement will result in a lack of admission offer. 
        However, universities are aware that often students are alternative route for eligible students to 
        earn an undergraduate place at the university. If an applicant falls short of university entry
        requirements Summer Schools might provide an alternative route for entry into higher education. 
        Please note that you must be applying through a degree programmeat a specific university 
        in order to be considered for their Summer School.</p>





    <!--closing the design/layout containers --> 
    </div>
</div>