<% provide(:title, "Summer school page") %>
<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information --> 
    <h1>Summer school page</h1>
        
        <p>Most universities require students to have at the least National 5s in English and Maths at a grade C or above.</p>
        <p>...</p>

    <!--closing the design/layout containers --> 
    </div>
</div>