<% provide(:title, "Error 500") %>
    <!--Page information --> 
    <div class="dialog">
      <div>
        <h2>We're sorry, but something went wrong.</h2>
      </div>
      <p>We apologise for the inconvenience.</p>
    </div>