<!-- 500 error page -->
<% provide(:title, "Error 500") %>
  <!--Page information --> 
  <div class="dialog">
    <div>
      <h1>We're sorry, but something went wrong.</h1>
      <%= image_tag "line.png" , :alt => "logo"%>    

    </div>
    <p>We apologise for the inconvenience.</p>
  </div>