<!-- 400 error page -->
<% provide(:title, "Error 404") %>
  <!--Page information --> 
  <div class="dialog">
    <div>
      <h1>The page you were looking for doesn't exist.</h1>
      <%= image_tag "line.png" , :alt => "logo"%>    
<br>
      <p>You may have mistyped the address or the page may have moved.</p>
    </div><br>
    <p>We apologise for the inconvenience.</p>
  </div>