<% provide(:title, "Error 404") %>
    <!--Page information --> 
    <div class="dialog">
      <div>
        <h2>The page you were looking for doesn't exist.</h2>
        <p>You may have mistyped the address or the page may have moved.</p>
      </div>
      <p>We apologise for the inconvenience.</p>
    </div>