<!-- 422 error page -->
<% provide(:title, "Error 422") %>
  <!--Page information --> 
  <div class="dialog">
    <div>
      <h2>The change you wanted was rejected.</h2>
      <p>Maybe you tried to change something you didn't have access to.</p>
    </div>
    <p>We apologise for the inconvenience.</p>
  </div>