<!-- Index of all Courses -->
<% provide(:title, "Course") %>

<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information --> 
    

      <%= form_tag(degree_new_path, :method => "get", id: "search-data") do %>

          
            <table border="1" class="table">
              <thead>
                <tr>
                  <th>Courses</th>
                </tr>
              </thead>
              <tbody>
                <% @ads.each do |degree| %>
                    <tr>
                     <!-- http://notanything-iamkatiewatson.c9users.io:8080/adsearch?utf8=%E2%9C%93&q[c][0][a][0][name]=ucas&q[c][0][p]=cont&q[c][0][v][0][value]=a&q[s][0][name]=&q[s][0][dir]=&commit=Search -->
                     <!-- http://notanything-iamkatiewatson.c9users.io/adsearch?adsearch=A -->
                      
                   <!-- http://notanything-iamkatiewatson.c9users.io/keyword_search?utf8=%E2%9C%93&search=history&commit=Search -->
                    <!--   link_to degree.cname, keyword_search_path(search: degree.cname) -->
                   <!-- http://notanything-iamkatiewatson.c9users.io/keyword_search?search=History -->
                      
                  <td> <%= link_to degree.subject_group, adsearch_path(search: degree.ucas_letter) %>
             



                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
      <%= submit_tag "Select" %>
      <% end %>
          
    <!--closing the design/layout containers --> 
    </div>
</div>