<!--Recommender system page--> 
<% provide(:title, 'Degree Suggestion') %>

<div class = "signinstyle">
	
  <div class = "row">
    
  
	<div id="wrapAll">
		<div id="wrapper">
			
		
				 <h1>Help us recommend a <span>Course</span></h1>
			</div>
		</div>
	</div>
	
	<div class ="row">
		<div id="wrapper">
			<input class="start-btn" type="submit" value="Start!" onclick="redirect('ques.html')">
		</div>
	</div>
	
</div>
