<!--Recommender system page--> 
<% provide(:title, 'Degree Suggestion') %>

<div class = "signinstyle">
	
  <div class = "row">
    
  
	<div id="wrapAll">
		<div id="wrapper">
			
		
				 <h1>Course suggestion quiz</h1>
				 <%= image_tag "line.png" , :alt => "logo"%>    

			</div>
		</div>
	</div>
	
	<div class ="row">
		<div id="wrapper">
			<input class="btn btn-default" type="submit" value="Start!" onclick="redirect('ques.html')">
		</div>
	</div>
	
</div>
