<% provide(:title, "Uni2choose") %>

<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information --> 
       
    <h1>UNI 2 CHOOSE</h1>
    
    <p>Follow the process below and we will recommend degrees suited to you</p>
    
    <%= render 'form' %>
    
    <%= link_to 'Back', searches_path %>
                      
                     
                  
              
    <!--closing the design/layout containers --> 
    </div>
</div>