<!--Functionality of recommender?? --> 
<% provide(:title, 'Quiz') %>

<!--containers for design/layout --> 
<div class = "contenty">
  <div class = "row">
      <%= image_tag "http://static.damnlol.com/pics/402/39e39cc83f29fd191e4880c99d99ccd2.gif" , :alt => "bean"%>
      </div>
      </div>