<!--Functionality of recommender?? --> 
<% provide(:title, 'test ye knowledge') %>



<!--containers for design/layout --> 

  <div class = "row">
    <!--Page information --> 
    <div ng-app="flapperNews" ng-controller="MainCtrl">
    <div>
      {{test}}
    </div>
    </div>
          <div id="myQuiz" ng-controller="QuizController">
              
              
              <h1>Help us recommend a <span>Course</span></h1>
              
              <div class="custom-progress"> 
                
             
                
              </div>
              
              <div class="intro">
                
               <h2>Welcome to this silly quiz</h2>
                <p>Click begin to start the dope quiz</p>
                <p class="btn">Begin</p>
                
              </div>
              
              <div class="question-wrap">
                <h2>Question #1: Do you like people...</h2>
            </div>
        </li>
        <li class="quiz-answer low-value" data-quizIndex="2">
            <div class="answer-wrap"> 
                <p class="answer-text">Yes</p>
            </div>
            
            
            <p class="question">Choose the topics that interest you</p>

	    	<ul>
	    	<input class="answer" type="radio" name="q1" value="1">
	        <label id="correctString1">correct answer 1</label>
                
                
              </div>
              
              <div class="results">
              
                  <h3>Results</h3>
                  
                  <p>you would be best suited to do... X and X and X</p>
                  <p>Use the links bellow to tell yor friends! wooo</p>
                  
                  <div class="share">
                    
                    <a class="btn email" href="#">Email</a>
                    <a class="btn twitter" href="#">tweet</a>
                    
                    
                  </div>
                  
              </div>
              
            
          </div>



  </div>


