

<!--Functionality of recommender?? --> 
<% provide(:title, 'test ye knowledge') %>

<%= javascript_include_tag "re.js"%>


<!--containers for design/layout --> 
<div class = "contenty">
  <div class = "row">
    <!--Page information --> 
    
<!--Functionality of recommender?? --> 
<% provide(:title, 'test ye knowledge') %>



<!--containers for design/layout --> 
<div class = "contenty">
  <div class = "row">
    <!--Page information --> 

          <div id="myQuiz" ng-controller="QuizController">
              
              
              <h1>Help us recommend a <span>Course</span></h1>
              
              <div class="custom-progress"> 
                
              {{totalQuestions}} 
                
              </div>
              
              <div class="intro">
                
               <h2>Welcome to this silly quiz</h2>
                <p>Click begin to start the dope quiz</p>
                <p class="btn">Begin</p>
                
              </div>
              
              <div class="question">
                
                  <p class="txt"></p>
                
                  <p class="ans"></p>
                  <p class="ans"></p>
                  <p class="ans"></p>
                  <p class="ans"></p>
                   
                  <div class="feedback">
                    
                    <p>You are a <strong>smartie</strong></p>  
                    <p>You are serious <strong>wrong</strong></p> 
                    <p>Additional feedback</p> 
                    
                    <div class="btn">Continue</div>
                    
                  </div>
                
                
              </div>
              
              <div class="results">
              
                  <h3>Results</h3>
                  
                  <p>you would be best suited to do... X and X and X</p>
                  <p>Use the links bellow to tell yor friends! wooo</p>
                  
                  <div class="share">
                    
                    <a class="btn email" href="#">Email</a>
                    <a class="btn twitter" href="#">tweet</a>
                    
                    
                  </div>
                  
              </div>
              
            
          </div>



  </div>
</div>

<script type="text/javascript" src="assets/javascripts/angular.min.js"></script>
<script type="text/javascript" src="assets/javascripts/quiz.js"></script>