<!--Functionality of recommender?? --> 
<% provide(:title, '') %>

<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information --> 
    
    
	<div id="wrapAll">
		<div id="result">
		
				<h1>Congratulations! You are:</h1>
				<div>
					<h2 id="geekName"></h2>
					<img id="geekImage" src="" alt="you are">
					<div id="geekInfo"></div>
					<div id="delta"></div>
				</div>
				<%= link_to "Cool, let's test again!", new_path %>
			</div>
		</div>
	

	
	</div>
	</div>
	
		<script src='main.js' type='text/javascript'></script>
	<script type='text/javascript'>
		window.onload = function(){
		  showResult();
		};
	</script>