<!--Recommender results --> 
<% provide(:title, 'User Analysis') %>

<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information --> 
          
          <p id="notice"><%= notice %></p>
          
          <p>
            
            <!--
            <strong>Not interested in:</strong>
            < Ucasletter.where(id: @search.not_interested).first.subject_group %>
          -->
          </p>
          
          <p>
            <strong>Selected courses:</strong>
            
            <% desertfox = Higher.all.where(id: [@search.select_course1, @search.select_course2, @search.select_course3, @search.select_course4, @search.select_course5]).pluck(:higher) %>
            <% desertfox.each do |x| %>
              <li><%= x %></li>
            <% end %>
              
          
          </p>
          
          <%= link_to 'Edit', new_search_path(@search) %> |
          <%= link_to 'Back', searches_path %>

                  
              
    <!--closing the design/layout containers --> 
    </div>
</div>