<% provide(:title, "Data Index") %>

<div class = "signinstyle">
  <div class = "row">

<h2>Universities</h2>

  <table border="1" class="table">
    <thead>
      <tr>
        <th>Name...</th>
        <th>....</th>
        <th>....</th>
        </tr>
    </thead>
    <tbody>
      <% @degrees.each do |course| %>
      <tr>
        <td><%= course.id %></td>
        <td><%= course.course_title %></td>
        <td><%= course.ucas_code %></td>
  
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
</div>