@import "bootstrap-sprockets";
@import "bootstrap";
@import "shadowbox";


/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
}


/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 45px;
  @include box_sizing;
}

.hidden {
  display: none;
}


/* Body */
body {
  	background-size: 100% ;
  	background-color: #fefefe ;
}

textarea {
  resize: vertical;
}

.contenty {
	background-color: #fefefe;
	margin-top: 3.3em;
	padding-top: 1em ;
	margin-left: 10%;
	margin-right: 10%;
	padding: 2em;

}

.contenty img {

	max-height: 250px;
	width: 95%;
	min-width: 10px
}



/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  font-family:"Segoe UI";
  font-style:bold;
  text-transform: uppercase;
  text-align: center;
  color: #23406f;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;

  text-align: center;
  font-weight: normal;
  font-family:"Segoe UI";
  color: #23406f;
}

h3 {
  font-size: 1.5em;
  font-family:"Segoe UI";
  letter-spacing: -2px;
  margin-bottom: 3em;
  text-align: left;
  color: #23406f;
}

h4 {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #23406f;
  font-family:"Segoe UI";
  text-align: center;
}

h5 {
  font-size: 1.2em;
  line-height: 1.7em;
  color: #23406f;
  font-style: italic;
  font-family:"Segoe UI";
  text-align: left;
  
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #23406f;
  font-family:"Segoe UI";
  text-align: left;
}


/* Navagation Bar */
#myNavbar{
    background-color: #5172a7;
    background-size: 100% ;
    width: 100%;
    height: 100%;
    opacity: 100%;
    padding-right: 20px;
    padding: 0.8em;
    font-family:"Segoe UI";
    color: #f0f0f0;
    text-transform: uppercase;
    
}

#myNavbar a {
    color: #f0f0f0;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    background-color: #5172a7;
    background-size: 100% ;
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: 15px;
	font-family:"Segoe UI";
	text-transform: uppercase;
}


.navbar-fixed-top {
	text-align: right;
	height: auto;
	font-size: 10px;
    max-width: 100%;
    font-family:"Segoe UI";
    color: #010916;

}



.navbar-brand {
	background-color: #e1e8ef;
	text-align: right;
	height: auto;
	font-size: 10px;
    max-width: 100%;
	opacity: 0.8


}


/* Quiz */
#wrapper {
  float: center;
  text-align:center;
}

.quizimg img {
    width:"90%";
    margin: 0 auto;
    padding-bottom: 70px;
    padding-top: 10px;
    display: block;
    text-align: center;
    max-width: 500px;
    max-height: 500px;
    min-height: 300px;
}

.quizimg h2 {
  font-size: 2em;
  letter-spacing: -1px;
  font-style: italic;
  text-align: center;
  font-weight: normal;
  font-family:"Segoe UI";
  color: #27364e;
}

.quizwriting {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #27364e;
  font-family:"Segoe UI";
  text-align: left;
  margin-left: 2em;
  padding-left: 30px;
  margin-right: 2em;
  padding-right: 30px;
}


/* Personality Quiz buttons*/
   .pquiz_button{
   border-top: 1px solid #969696;
   background: #6083bd;
   background: -webkit-gradient(linear, left top, left bottom, from(#545454), to(#6083bd));
   background: -webkit-linear-gradient(top, #545454, #6083bd);
   background: -moz-linear-gradient(top, #545454, #6083bd);
   background: -ms-linear-gradient(top, #545454, #6083bd);
   background: -o-linear-gradient(top, #545454, #6083bd);
   padding: 10px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #e3e3e3 !important;
   font-size: 14px;
   font-style: bold;
   margin: 10px;
   text-decoration: none;
   vertical-align: middle;
   height: 100px;
   white-space: normal;
   font-family:"Segoe UI";

   }
.pquiz_button:hover {
   border-top-color: #6a95da;
   background: #6a95da;
   color: #ccc;
   text-decoration:none;
   }
.pquiz_button:active {
   border-top-color: #425e8b;
   background: #425e8b;
   }


/* Recommender Quiz buttons */
   .rquiz_button{
   border-top: 1px solid #969696;
   background: #6083bd;
   background: -webkit-gradient(linear, left top, left bottom, from(#545454), to(#6083bd));
   background: -webkit-linear-gradient(top, #545454, #6083bd);
   background: -moz-linear-gradient(top, #545454, #6083bd);
   background: -ms-linear-gradient(top, #545454, #6083bd);
   background: -o-linear-gradient(top, #545454, #6083bd);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #e3e3e3 !important;
   font-size: 12px;
   margin: 10px;
   text-decoration: none;
   vertical-align: middle;
   height: 100px;
   white-space: normal;
   font-family:"Segoe UI";
   }
   
.rquiz_button:hover {
   border-top-color: #6a95da;
   background: #6a95da;
   color: #ccc;
   text-decoration:none;
   }
   
.rquiz_button:active {
   border-top-color: #425e8b;
   background: #425e8b;
   }


/* Tie Recommender Quiz buttons */
.tquiz_button{
   border-top: 1px solid #969696;
   background: #6083bd;
   background: -webkit-gradient(linear, left top, left bottom, from(#545454), to(#6083bd));
   background: -webkit-linear-gradient(top, #545454, #6083bd);
   background: -moz-linear-gradient(top, #545454, #6083bd);
   background: -ms-linear-gradient(top, #545454, #6083bd);
   background: -o-linear-gradient(top, #545454, #6083bd);
   padding: 10px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #e3e3e3 !important;
   font-size: 12px;
   margin: 20px;
   text-decoration: none;
   vertical-align: middle;
   height: 100px;
   white-space: normal;
   font-family:"Segoe UI";
   }
.tquiz_button:hover {
   border-top-color: #6a95da;
   background: #6a95da;
   color: #ccc;
   text-decoration:none;
   }
.tquiz_button:active {
   border-top-color: #425e8b;
   background: #425e8b;
   }


/* Buttons width restriction */
.width-150px{
    width: 150px;
    display: inline-block;
}

.width-250px{
    width: 250px;
    display: inline-block;
}

.width-450px{
    width: 450px;
    display: inline-block;
}


/* Gravatar edit Image */
.gravatar_edit {
  margin-top: 15px;
  width: 200px;
  height: auto;
  float: center;
  padding: 1em;
  text-align: center;
}

.gravatar_pro {
  max-width: 300px;
  height: auto;
  float: center;
  padding: 1em;
  text-align: center;
  margin: 0 auto;
  display: block;    
}

/* forms */
input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 0px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  height: auto;
  margin-left: 0;
}

.line {
  height: 300px;
  border-left: solid #cccccc;
}

.homesearch {
    
    
}



/* Bootstrap */
.row:after {
    content: "";
    clear: both;
    display: block;
}

.row {
  position: relative;
  top: 10px;
}

[class*="col-"] {
    float: left;
    padding: 1.2em;
    width: 100%;
}
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


/* Tables */
table  {
    width: 100%;
    font-size: 15px;
    border-spacing: 20px;
    min-width: 250px;
    border-collapse: collapse;
  	text-align: left;
    font-size: 15px;
    font-family:"Segoe UI";
}

table  img {

	padding: 20px;
	opacity: 1;
	width: 350px;
	height: 350px;
	min-width: 250px;
	text-align: center;
	width:100% !important;
  height:100% !important;
}

/* Zebra striping to Tables */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
  text-align: center;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

/* Table bootstrap */
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* tables to disappear*/
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Compress table headers into tables for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
}


.errorthing {
  text-align: center;

}
.hidden {
  display: none;
}

/*flash*/

.alert-error {
  margin-top: 77px;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  margin-top: 77px;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  margin-top: 77px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  margin-top: 77px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}


/* Results from Search */
.resultsclass {
  padding-left: 4em;
  padding-right: 4em;
}

.resultsclass h4 {
  font-size: 1em;
  color: #27364e;
  text-align: right;
  font-style: italic;
}

.resultsclass h2 {
  font-size: 1.4em;
  color: #27364e;
  text-align: left;
  font-style: italic;
  
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1.9px solid #23406f;
    border-radius: 4px;
    box-sizing: border-box;

}


/* Footer */
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 1.5em;
    margin-top: -3em;
}

.footer p {
    font-size: 12px;
    text-align: right;
    margin-right: 20px;
    text-align: center;
}

.footer h1 {
    font-size: 12px;
    text-align: center;
}
