@import "bootstrap-sprockets";
@import "bootstrap";
@import "shadowbox";
/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;

}



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 45px;
  @include box_sizing;
}
.hidden {
  display: none;
}
/* universal */



body {
    background-repeat: no-repeat;
  	background-size: 100% ;
  	background-color: #f0f0f0 ;
  	width: 100%;
    height: 100%;
    overflow-x: hidden; 
    overflow-y: auto;
}


#myNavbar{
    background-image: url('banner.png');
    background-size: 100% ;
    width: 100%;
    height: 100%;
    opacity: 100%;
    padding-right: 20px;
    padding: 0.8em;
    font-family:"Segoe UI";
    color: #f0f0f0;
}

#myNavbar a {
    color: #f0f0f0;
}



.navbar .navbar-nav {
 
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    background-image: url('banner.png');
    background-size: 100% ;
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: 15px;
	  font-family:"Segoe UI";
}



textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  font-family:"Segoe UI";
  font-style:bold;
  text-transform: uppercase;
  text-align: center;
  color: #010916;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
 
  text-align: center;
  font-weight: normal;
  font-family:"Segoe UI";
  color: #010916;
}

h3 {
  font-size: 1.5em;
  font-family:"Segoe UI";
  letter-spacing: -2px;
  margin-bottom: 3em;
  text-align: left;
  color: #010916;
}

h4 {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #010916;
  font-family:"Segoe UI";
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #010916;
  font-family:"Segoe UI";
  text-align: left;
}


/* header */

#logo {
  float: left;
  margin-right: 0px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 0px;
  font-weight: bold;
  background-color: #0b0c0c;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.sideimg {
      img{
    width: 70%;
    height: auto;
    padding: 5px;
}
}



.btn
{

	padding:		0.5em 0.5em !important;
	font-size:		15px !important;
  color: #010916;
  font-family:"Segoe UI";
	font-weight:		bold;
	color:			#2d525d;
	
	  &:hover {
    color: white;
    text-decoration: none;
  }
	
}

.gravatar {
  float: center;

   width: 150px;
    height: 150px;
    padding: 5px;
}

.gravatar_edit {
  margin-top: 15px;
  width: 200px;
  height: auto;
  float: center;
  padding: 1em;
  text-align: center;
}

.stats {
  
    margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-light;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {

  margin-top: 10px;
  .gravatar {
    width: 250px;
    height: auto;
    margin: 1px 1px;

  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 10;
}

/* forms */


input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 0px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  height: auto;
  margin-left: 0;
}

.line {
  height: 300px;
  border-left: solid #cccccc;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}





.row:after {
    content: "";
    clear: both;
    display: block;
}

.row {
  position: relative;
  top: 10px;
}

[class*="col-"] {
    float: left;
    padding: 1.2em;
    width: 100%;
}
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


.menu ul {
    list-style-type: none;
    margin: 5;
    padding: 5;


}
.menu li {
    padding: 5px;
    margin-bottom: 10px;
    background-color :#61585f;
    color: #61585f;
    text-align: center;
    font: Impact;

}
.menui li:hover {
    background-color: #363f43;

}
.bside {

    padding: 5px;
    color: #61585f;
    text-align: center;
    font-size: 8px;


}


.navbar-fixed-top {
	text-align: right;
	height: auto;
	font-size: 10px;
  max-width: 100%;
  font-family:"Segoe UI";
  color: #010916;

}



.navbar-brand {
	background-color: #e1e8ef;
	text-align: right;
	height: auto;
	font-size: 10px;
    max-width: 100%;
	opacity: 0.8


}


#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 1.5em;
    margin-top: -3em;
   
    
}

.footer p {
    font-size: 12px;
    text-align: right;
    margin-right: 20px;
  
  } 
  
.footer h1 {
    font-size: 12px;
    text-align: center;
   
  
}

.contenty {
	background-color: #f0f0f0;
	margin-top: 3.3em;
	padding-top: 1em ;
	margin-left: 10%;
	margin-right: 10%;
	padding: 2em;

}


.contenty img {

	max-height: 250px;
	width: 95%;
	min-width: 10px

}


.signinstyle {
	margin-left: 1em;
	margin-right: 1em;
	padding: 1em;
	opacity: 0.8;
	padding-right: 2em;
	padding-left: 2em;
  font-family:"Segoe UI";
}


table  {
    width: 100%;
    font-size: 15px;
    border-spacing: 20px;
    min-width: 250px;
    border-collapse: collapse;
  	text-align: left;
    font-size: 15px;
    font-family:"Segoe UI";
}

table  img {

	padding:20px;
	opacity: 1;
	width: 350px;
	height: 350px;
	min-width: 250px;


	text-align: center;
	width:100% !important;
    height:100% !important;

}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
  text-align: center;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;

	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}



}

.errorthing {
  text-align: center;

}
.hidden {
  display: none;
}

/*flash*/

.alert-error {
  margin-top: 77px;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  margin-top: 77px;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  margin-top: 77px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  margin-top: 77px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}


/* Advanced Search */
.home-box {
  background-color: #e6e6e6;
  height: 200px;
  width: 300px;
  border: solid #A9A9A9 3px;
  border-radius: 25px;
}



input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

#wrapper {
  float: center;
  text-align:center;
  
  
}