@import "bootstrap-sprockets";
@import "bootstrap";
@import "shadowbox";


/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
}


/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 45px;
  @include box_sizing;
}

.hidden {
  display: none;
}


/* Body */
body {
  	background-size: 100% ;
  	background-color: #fefefe ;
}

textarea {
  resize: vertical;
}

.contenty {
	background-color: #fefefe;
	margin-top: 3.3em;
	padding-top: 1em ;
	margin-left: 10%;
	margin-right: 10%;
	padding: 2em;

}

.contenty img {
	max-height: 250px;
	width: 95%;
	min-width: 10px
}

.colorbg {
    background-color: #e8f4ff;
    padding: 10px;
    border-radius: 12px;
    
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  font-family:"Segoe UI";
  font-style:bold;
  text-transform: uppercase;
  text-align: center;
  color: #23406f;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;

  text-align: center;
  font-weight: normal;
  font-family:"Segoe UI";
  color: #23406f;
}

h3 {
  font-size: 1.5em;
  font-family:"Segoe UI";
  letter-spacing: -2px;
  text-align: left;
  color: #23406f;
}

h4 {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #23406f;
  font-family:"Segoe UI";
  text-align: center;
}

h5 {
  font-size: 1.2em;
  line-height: 1.7em;
  color: #23406f;
  font-style: italic;
  font-family:"Segoe UI";
  text-align: left;
  
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #23406f;
  font-family:"Segoe UI";
  text-align: left;
}


/* button */

.btn {
  background: #fefefe;
  background-image: -webkit-linear-gradient(top, #fefefe, #fefefe);
  background-image: -moz-linear-gradient(top, #fefefe, #fefefe);
  background-image: -ms-linear-gradient(top, #fefefe, #fefefe);
  background-image: -o-linear-gradient(top, #fefefe, #fefefe);
  background-image: linear-gradient(to bottom, #fefefe, #fefefe);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: helvetica;
  color: #23236b;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  border: solid #5172a7 1.8px;
  text-decoration: none;
}

.btn:hover {
  background: #5172a7;
  background-image: -webkit-linear-gradient(top, #5172a7, #5172a7);
  background-image: -moz-linear-gradient(top, #5172a7, #5172a7);
  background-image: -ms-linear-gradient(top, #5172a7, #5172a7);
  background-image: -o-linear-gradient(top, #5172a7, #5172a7);
  background-image: linear-gradient(to bottom, #5172a7, #5172a7);
  color: #fefefe;
  text-decoration: none;
}

/* Navagation Bar */
#myNavbar{
    background-color: #5172a7;
    background-size: 100% ;
    width: 100%;
    height: 100%;
    opacity: 100%;
    padding-right: 20px;
    padding: 0.8em;
    font-family:"Segoe UI";
    color: #f0f0f0;
    text-transform: uppercase;
    
}

#myNavbar a {
    color: #f0f0f0;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    background-color: #5172a7;
    background-size: 100% ;
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: 15px;
	font-family:"Segoe UI";
	text-transform: uppercase;
}


.navbar-fixed-top {
	text-align: right;
	height: auto;
	font-size: 10px;
    max-width: 100%;
    font-family:"Segoe UI";
    color: #010916;

}



.navbar-brand {
	background-color: #e1e8ef;
	text-align: right;
	height: auto;
	font-size: 10px;
    max-width: 100%;
	opacity: 0.8


}


/* Quiz */
#wrapper {
  float: center;
  text-align:center;
}

.quizimg img {
    width:"90%";
    margin: 0 auto;
    padding-bottom: 70px;
    padding-top: 10px;
    display: block;
    text-align: center;
    max-width: 500px;
    max-height: 500px;
    min-height: 300px;
}

.quizimg h2 {
  font-size: 2em;
  letter-spacing: -1px;
  font-style: italic;
  text-align: center;
  font-weight: normal;
  font-family:"Segoe UI";
  color: #27364e;
}

.quizwriting {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #27364e;
  font-family:"Segoe UI";
  text-align: left;
  margin-left: 2em;
  padding-left: 30px;
  margin-right: 2em;
  padding-right: 30px;
}


/* Personality Quiz buttons*/
   .pquiz_button{
  background: #fefefe;
  background-image: -webkit-linear-gradient(top, #fefefe, #fefefe);
  background-image: -moz-linear-gradient(top, #fefefe, #fefefe);
  background-image: -ms-linear-gradient(top, #fefefe, #fefefe);
  background-image: -o-linear-gradient(top, #fefefe, #fefefe);
  background-image: linear-gradient(to bottom, #fefefe, #fefefe);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: helvetica;
  color: #23236b;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  border: solid #5172a7 1.8px;
  text-decoration: none;
  margin: 1em;
  vertical-align: middle;
  white-space: normal;
  display: inline-block; 
  

   }
.pquiz_button:hover {
  background: #5172a7;
  background-image: -webkit-linear-gradient(top, #5172a7, #5172a7);
  background-image: -moz-linear-gradient(top, #5172a7, #5172a7);
  background-image: -ms-linear-gradient(top, #5172a7, #5172a7);
  background-image: -o-linear-gradient(top, #5172a7, #5172a7);
  background-image: linear-gradient(to bottom, #5172a7, #5172a7);
  color: #fefefe;
  text-decoration: none;
   }


/* Recommender Quiz buttons */
   .rquiz_button{
     background: #fefefe;
      background-image: -webkit-linear-gradient(top, #fefefe, #fefefe);
      background-image: -moz-linear-gradient(top, #fefefe, #fefefe);
      background-image: -ms-linear-gradient(top, #fefefe, #fefefe);
      background-image: -o-linear-gradient(top, #fefefe, #fefefe);
      background-image: linear-gradient(to bottom, #fefefe, #fefefe);
      -webkit-border-radius: 12;
      -moz-border-radius: 12;
      border-radius: 12px;
      font-family: helvetica;
      color: #23236b;
      font-size: 13px;
      padding: 10px 20px 10px 20px;
      border: solid #5172a7 1.8px;
      text-decoration: none;
      margin: 1em;
      vertical-align: middle;

   }
   
.rquiz_button:hover {
  background: #5172a7;
  background-image: -webkit-linear-gradient(top, #5172a7, #5172a7);
  background-image: -moz-linear-gradient(top, #5172a7, #5172a7);
  background-image: -ms-linear-gradient(top, #5172a7, #5172a7);
  background-image: -o-linear-gradient(top, #5172a7, #5172a7);
  background-image: linear-gradient(to bottom, #5172a7, #5172a7);
  color: #fefefe;
  text-decoration: none;
   }
   


/* Tie Recommender Quiz buttons */
.tquiz_button{
  background: #fefefe;
  background-image: -webkit-linear-gradient(top, #fefefe, #fefefe);
  background-image: -moz-linear-gradient(top, #fefefe, #fefefe);
  background-image: -ms-linear-gradient(top, #fefefe, #fefefe);
  background-image: -o-linear-gradient(top, #fefefe, #fefefe);
  background-image: linear-gradient(to bottom, #fefefe, #fefefe);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: helvetica;
  color: #23236b;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  border: solid #5172a7 1.8px;
  text-decoration: none;
  margin: 2em;
  vertical-align: middle;
  white-space: normal;
  
   }
.tquiz_button:hover {
  background: #5172a7;
  background-image: -webkit-linear-gradient(top, #5172a7, #5172a7);
  background-image: -moz-linear-gradient(top, #5172a7, #5172a7);
  background-image: -ms-linear-gradient(top, #5172a7, #5172a7);
  background-image: -o-linear-gradient(top, #5172a7, #5172a7);
  background-image: linear-gradient(to bottom, #5172a7, #5172a7);
  color: #fefefe;
  text-decoration: none;
   }


/* Buttons width restriction */
.width-180px{
    width: 180px;
    display: inline-block;
}

.width-200px{
    width: 200px;
    display: inline-block;
}

.width-250px{
    width: 250px;
    display: inline-block;
}

.width-450px{
    width: 350px;
    display: inline-block;
}


/* Gravatar edit Image */
.gravatar_edit {
  margin-top: 15px;
  width: 200px;
  height: auto;
  float: center;
  padding: 1em;
  text-align: center;
}

.gravatar_pro {
  max-width: 300px;
  height: auto;
  float: center;
  padding: 1em;
  text-align: center;
  margin: 0 auto;
  display: block;    
}

/* forms */
input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 0px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  height: auto;
  margin-left: 0;
}

.line {
  height: 300px;
  border-left: solid #cccccc;
}


/*Profile Page*/
.profilep h2 {
  font-size: 2em;
  letter-spacing: -1px;
  text-align: left;
  font-weight: normal;
  font-family:"Segoe UI";
  color: #23406f;
}

.probut_button {
      background: #fefefe;
      background-image: -webkit-linear-gradient(top, #fefefe, #fefefe);
      background-image: -moz-linear-gradient(top, #fefefe, #fefefe);
      background-image: -ms-linear-gradient(top, #fefefe, #fefefe);
      background-image: -o-linear-gradient(top, #fefefe, #fefefe);
      background-image: linear-gradient(to bottom, #fefefe, #fefefe);
      -webkit-border-radius: 12;
      -moz-border-radius: 12;
      border-radius: 12px;
      font-family: helvetica;
      color: #23236b;
      font-size: 13px;
      padding: 10px 20px 10px 20px;
      border: solid #5172a7 1.8px;
      text-decoration: none;
      margin: 0.5em;
      vertical-align: middle;

   }
   
.probut_button:hover {
  background: #5172a7;
  background-image: -webkit-linear-gradient(top, #5172a7, #5172a7);
  background-image: -moz-linear-gradient(top, #5172a7, #5172a7);
  background-image: -ms-linear-gradient(top, #5172a7, #5172a7);
  background-image: -o-linear-gradient(top, #5172a7, #5172a7);
  background-image: linear-gradient(to bottom, #5172a7, #5172a7);
  color: #fefefe;
  text-decoration: none;
   }

/* Bootstrap */
.row:after {
    content: "";
    clear: both;
    display: block;
}

.row {
  position: relative;
  top: 10px;
}

[class*="col-"] {
    float: left;
    padding: 1.2em;
    width: 100%;
}
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


/* Tables */
table  {
    width: 100%;
    font-size: 15px;
    min-width: 250px;
    border-collapse: collapse;
  	text-align: left;
    font-size: 15px;
    font-family:"Segoe UI";
    border: none;

}

table  img {

	padding: 20px;
	opacity: 1;
	width: 150px;
	height: 150px;
	min-width: 150px;
	text-align: center;
	width:100% !important;
    height:100% !important;
    
}

/* Striping of the Tables */
tr:nth-of-type(odd) {
  background: #e8f4ff;
}
th {
  background: #5172a7;
  color: white;
  font-weight: bold;
  text-align: center;
}
td, th {
  padding: 6px;
  border: none;
 
  text-align: left;
}


.a
{
    max-width: 150px;
}


/* Table bootstrap */
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* tables to disappear*/
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Compress table headers into tables for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: none; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
}


.errorthing {
  text-align: center;

}
.hidden {
  display: none;
}

/*flash*/

.alert-error {
  margin-top: 77px;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  margin-top: 77px;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  margin-top: 77px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  margin-top: 77px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}


/* Results from Search */
.resultsclass {
  padding-left: 4em;
  padding-right: 4em;
}

.resultsclass h4 {
  font-size: 1em;
  color: #27364e;
  text-align: right;
  font-style: italic;
}

.resultsclass h2 {
  font-size: 1.4em;
  color: #27364e;
  text-align: left;
  font-style: italic;
  
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1.9px solid #23406f;
    border-radius: 4px;
    box-sizing: border-box;

}


/* Footer */
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 1.5em;
    margin-top: -3em;
}

.footer p {
    font-size: 12px;
    text-align: right;
    margin-right: 20px;
    text-align: center;
}

.footer h1 {
    font-size: 12px;
    text-align: center;
}


/* Responsive button */
@media (max-width: 768px) {
  .btn-responsive {
    font-size:80%;
    line-height: 1;
    width: 450px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    font-size:90%;
    line-height: 1.2;
    width: 450px;
  }
}

@media (max-width: 650px) {
  .btn-responsive {
    font-size:90%;
    line-height: 1.2;
    width: 150px;
  }
}
