<!-- Footer inserted into each page -->
<div class="footer">
  
  <h1>Copyright &copy; Uni2choose 2016 || <%= link_to "Contact Us", contacts_path %> ||  <%= link_to "Help", help_path %></h1>
  
  <p>All information relating to Universities and degrees offered was obtained from <a href="https://www.ucas.com/", target="_blank">UCAS</a> and remain the sole property of UCAS and/or their legal licence holders.</p>
</div>