<!-- Footer inserted into each page -->
<div class="footer">
  
  <h1>Copyright &copy; Uni2choose 2016 || <%= link_to "Contact Us", contacts_path %> ||  <%= link_to "Help", help_path %> ||  <%= link_to "Privacy Policy", privacy_path %></h1>
  
  <p>All information regarding universities and degrees was obtained from <a href="https://www.ucas.com/", target="_blank">UCAS</a> and remains the sole property of UCAS and/or the legal licence holders</p>
</div>